<mat-card class="card">
  <mat-card-header>
    <mat-card-subtitle>{{imageName.slice(0,25)}}</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image [src]="imageUri" alt="Photo">
  <mat-card-actions>
      <button mat-icon-button color="warn" (click)="deleteImage()">
        <a><mat-icon>delete</mat-icon></a>
      </button>
      <button mat-icon-button color="primary">
          <a [href]="imageUri" target="_blank"><mat-icon>save</mat-icon></a>
        </button>
    </mat-card-actions>
</mat-card>